header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.logo img {
  height: 15px;
  margin-left: 10px;
}

.menu {
  font-family: 'Gotham', sans-serif;
  border: none;
  font-size: 1em;
  width: 80px;
  height: 30px;
  background-color: rgb(211, 201, 249);
}

.desktop-menu {
  display: none;
}

.desk-but {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.desktop-button {
  padding: 10px 5px;
  margin: 0 5px;
  width: 80px;
  border-radius: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.desktop-button:hover {
  background-color: #CFCFCF;
}

.logos {
  display: flex;
  align-items: center;
}

.logos button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  width: 35px;
  border-radius: 5%;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.5s;
}

.logos button:hover {
  background-color: #CFCFCF;
}

.logos img {
  width: 20px;
}

@media only screen and (min-width: 768px) {
  .menulistdiv, .menuBut, .overlay, .menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
