.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.media img, .media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.selection {
  position: absolute;
  top: 100px;
  z-index: 2;
  font-size: 1.5em;
  color: #000;
  text-align: center;
}

.selection h3 {
  color: white;
  margin: 0;
}

.selection p {
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.buttons {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
}

.buttons button, .buttons a {
  padding: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.buttons a {
  color: #000;
  font-size: 0.8em;
  font-weight: bold;
}

.buttons button.order, .buttons button.test-drive, .buttons button.test-drive-d, .buttons button.order-m3 {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

.buttons button.order, .buttons button.order-m3 {
  background-color: #333;
  color: white;
}

.buttons button.test-drive, .buttons button.test-drive-m3, .buttons button.test-drive-d {
  background-color: #ffffff;
}

.buttons button.test-drive-d {
  background: transparent;
  color: white;
  border: 2px solid #fff;
}

.link {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.link a {
  font-size: 0.6em;
  font-weight: bold;
}

.link.black a {
  color: #000;
}

.link.white a {
  color: #fff;
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin-bottom: 0;
    bottom: 40px;
  }

  .buttons button {
    margin: 30px;
    max-width: 300px;
  }

  .link {
    margin-top: 10px;
    width: 80%;
  }
}