.menulistdiv {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    z-index: 1000;
  }
  
  .menuBut {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 95%;
    margin-top: 50px;
    margin-left: 10px;
  }
  
  .menuButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .menuButton:hover {
    background-color: #e0e0e0;
  }
  
  .menuButton img {
    margin-right: 10px;
    transform: translateY(5px);
    width: 20px;
    height: 20px;
  }
  
  .menuButton span {
    font-size: 18px;
    color: #000;
  }
  
  .subtext {
    font-size: 12px; 
    color: grey;
  }
  
  #closeButton {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    z-index: 1002;
  }
  
  .menulistdiv.open {
    display: flex;
  }
  